<!-- BEGIN profile -->
<div class="profile">
	<div class="profile-header">
		<!-- BEGIN profile-header-cover -->
		<div class="profile-header-cover"></div>
		<!-- END profile-header-cover -->
		<!-- BEGIN profile-header-content -->
		<div class="profile-header-content">
			<!-- BEGIN profile-header-img -->
			<div class="profile-header-img">
				<img src="{{userProfilePictureURL}}" alt="" />
			</div>
			<!-- END profile-header-img -->
			<!-- BEGIN profile-header-info -->
			<div class="profile-header-info">
				<h4 class="mt-0 mb-1">{{userInfo['custom:name']}}
                    <i *ngIf="userInfo.email_verified" class="fa fa-check-circle text-blue ms-1 verified-user">
                    </i>
                </h4>
				<p class="mb-2 text-first-letter-uppercase">{{userInfo['custom:role']}}</p>
				<a *ngIf="userInfo.email_verified" href="javascript:;" class="btn btn-xs btn-yellow disabled">Verified</a>
			</div>
			<!-- END profile-header-info -->
		</div>
		<!-- END profile-header-content -->
		<!-- BEGIN profile-header-tab -->
		<ul class="profile-header-tab nav nav-tabs">
			<li (click)="changeTab('about')" class="nav-item"><a href="#profile-about" class="nav-link active" data-bs-toggle="tab">ABOUT</a></li>
			<li *ngIf="userInfo['custom:source'] == 'custom'" (click)="changeTab('changePassword')" class="nav-item"><a href="#profile-about" class="nav-link" data-bs-toggle="tab">CHANGE PASSWORD</a></li>
            <!-- <li class="nav-item"><a href="#profile-post" class="nav-link" data-bs-toggle="tab">ACTIVITIES</a></li> -->
		</ul>
		<!-- END profile-header-tab -->
	</div>
</div>
<!-- END profile -->
<!-- BEGIN profile-content -->`
<div *ngIf="currentTab == 'about'" class="profile-content">
	<!-- BEGIN tab-content -->
	<div class="tab-content p-0">
		<div class="tab-pane fade show active" id="profile-about">
			<!-- BEGIN table -->
			<div class="table-responsive form-inline">
				<table class="table table-profile align-middle">
					<thead>
						<tr>
							<th></th>
							<th>
								<h4>{{userName}} <small class="text-first-letter-uppercase">{{userInfo['custom:role']}}</small></h4>
							</th>
						</tr>
					</thead>
					<tbody>
        

						<tr class="divider">
							<td colspan="2"></td>
						</tr>

						<tr class="divider">
							<td colspan="2"></td>
						</tr>

						<tr class="highlight">
							<td class="field">About Me</td>
							<!-- <td>
								<a href="javascript:;" class="text-decoration-none fw-bold"><i class="fa fa-plus fa-fw"></i> Add Description</a>
							</td> -->

							<td *ngIf="userAboutMe && !showAboutMe"> {{userAboutMe}} <a href="javascript:;" class="ms-5px text-decoration-none fw-bold" (click)="addAboutMe()"><i class="fa fa-plus fa-fw"></i> Edit</a></td>
							<td *ngIf="!userAboutMe && !showAboutMe"><a href="javascript:;" class="text-decoration-none fw-bold" (click)="addAboutMe()"><i class="fa fa-plus fa-fw"></i> Add Description</a></td>
							<td *ngIf="showAboutMe">
								<div class="input-group input-group-textarea-width">
									<textarea class="form-control" placeholder="Enter your bio" rows="6" (keyup)="onChangeUserBio($event.target.value)" [(ngModel)]="userAboutMe"></textarea>
								</div>
							</td> 
						</tr>


						<tr class="divider">
							<td colspan="2"></td>
						</tr>
						
						<tr>
							<td class="field">Birthdate</td>
							<td>
								<div class="d-flex align-items-center">
									<div class="input-group w-80px birthday">
										<input type="text" class="form-control" pattern="\d{2}" placeholder="DD" (input)="onInputDay($event.target.value)" [value]="userBirthdateDay" />
									</div>
									<span class="slash">/</span>
									<div class="input-group w-80px birthmonth">
										<input type="text" class="form-control" pattern="\d{2}" placeholder="MM" (input)="onInputMonth($event.target.value)" [value]="userBirthdateMonth" />
									</div>
									<span class="slash">/</span>
									<div class="input-group w-100px birthyear">
										<input type="text" class="form-control" pattern="\d{4}" placeholder="YYYY" (input)="onInputYear($event.target.value)" [value]="userBirthdateYear" />
									</div>
								</div>
							</td>
						</tr>
						
						
						<tr class="divider">
							<td colspan="2"></td>
						</tr>
						<tr class="highlight">
							<td class="field">&nbsp;</td>
							<td class="">
								<button type="submit" class="btn btn-primary w-150px" (click)="confirmSubmit()">Update</button>
								<button type="submit" class="btn border-0 w-150px ms-5px" (click)="cancelUpdate()">Cancel</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- END table -->
		</div>
	</div>
</div>
<!-- END profile-content -->

<!-- Change password starts -->
<span *ngIf="userInfo['custom:source'] == 'custom'">
	<div *ngIf="currentTab == 'changePassword'" class="profile-content">
		<div class="login-body">
			<!-- BEGIN login-content -->
			<div class="login-content fs-13px">
				<div class="table-responsive form-inline">
					<table class="table table-profile align-middle">
						<thead>
							<tr>
								<th></th>
								<th>
									<h4>{{userName}} <small class="text-first-letter-uppercase">{{userInfo['custom:role']}}</small></h4>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="border-top align-content-center pt-3">
								<td class="field">New Password</td>
								<td>
									<div class="w-50">
										<div class="input-group">
											<input (keyup)="varifyNewAndConfirmPass('newPasswordValue' ,$event.target.value)" [type]="showPassword.newPassword ? 'text' : 'password'" class="form-control" id="newPassword" placeholder="New Password" />
											<span (click)="togglePasswordVisibility('newPassword')" class="input-group-text cursor-pointer">
												<i class="fa" [ngClass]="{ 'fa-eye': showPassword.newPassword, 'fa-eye-slash': !showPassword.newPassword }"></i>
											</span>
										</div>
									</div>
								</td>
							</tr>
	
							<tr class="align-content-center pb-3">
								<td class="field">Confirm Password</td>
								<td>
									<div class="w-50">
										<div class="input-group">
											<input (keyup)="varifyNewAndConfirmPass('confirmPasswordValue' ,$event.target.value)" class="form-control" [type]="showPassword.reenterPassword ? 'text' : 'password'" id="reenterPassword" placeholder="Re-enter Password" />
											<span (click)="togglePasswordVisibility('reenterPassword')" class="input-group-text cursor-pointer">
												<i class="fa" [ngClass]="{ 'fa-eye': showPassword.reenterPassword, 'fa-eye-slash': !showPassword.reenterPassword }"></i>
											</span>
										</div>
										<small *ngIf="PasswordMatchError"  class="input-group-error">
											Passwords do not match.
										</small>
										<small *ngIf="newPasswordLengthError" class="input-group-error">
											Passwords should be atleast 6 characters long
										</small>
									</div>
								</td>
							</tr>
							
							<tr class="highlight">
								<td class="field">&nbsp;</td>
								<td class="">
									<button (click)="changePasswordSubmit()" class="btn btn-primary w-150px">Change Password</button>
									<button type="submit" class="btn border-0 w-150px ms-5px" (click)="cancelUpdate()">Cancel</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END login-content -->
		</div>
	</div>
</span>

<!-- Change password ends -->
